<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teaching.android.miprimeraapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.teaching.android.miprimeraapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ThirdActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FourthActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FifthActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".GameDetailActivity"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".WebViewActivity" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".SensorsActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".MediaPlayerActivity" />

        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>